/* ==========================================================================
   Generic
   ========================================================================== */

.btn {
    font-weight: bold;
    cursor: pointer;
    padding: 13px 20px !important;
    text-decoration: none !important;
    font-size: 13px !important;
    letter-spacing: 0.1em;
    text-transform: uppercase !important;
    border-width: 2px !important;
    display: inline-block !important;
    position: static;
    border-radius: 3px;
    transition: 0.3s all ease;
    box-shadow: 4px 4px 0 0 var(--accent);

    &:hover {
        filter: brightness(102%);
        box-shadow: 6px 6px 0 0 var(--accent);
    }

    @include mobile {
        display: block;
        width: 100%;
    }
}

/* ==========================================================================
   Core buttons
   ========================================================================== */

.wp-block-buttons {
    .wp-block-button {
        .wp-block-button__link {
            @extend .btn;
        }
    }

    &:last-child {
        margin-top: 30px;
    }
}

/* ==========================================================================
   GeneratePress buttons
   ========================================================================== */

.gb-button-wrapper {
    .gb-button {
        @extend .btn;
    }
}

/* ==========================================================================
   Gravity forms buttons
   ========================================================================== */

.gform_footer input[type='submit'] {
    @extend .btn;

    &:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
}

/* ==========================================================================
   Blog buttons
   ========================================================================== */

.read-more.button {
    @extend .btn;
}
