ul.is-style-checkmark,
ol.is-style-checkmark {
	margin-left: 0;
	padding-left: 0;

	&:last-child {
		margin-bottom: 0;
	}

	> li {
		position: relative;
		list-style: none;
		padding-left: 40px;
		margin-bottom: 8px;
		line-height: 1.4;

		&:last-child {
			margin-bottom: 0;
		}

		@include mobile {
			padding-left: 30px;
		}

		&:before {
			content: '\f147';
			font-family: 'dashicons';
			font-size: 1.5em;
			position: absolute;
			line-height: 1em;
			// transform: translateY(5px);
			left: 0;
			top: 0;
			color: var(--accent);
		}

		> ul,
		> ol {
			margin-top: 10px;
			margin-bottom: 15px;
		}
	}
}
