hr.wp-block-separator {
    background-image: url('../images/lightbulb.svg');
    height: 29px;
    border: none;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center center;
    background-color: transparent;
    margin: 30px 0;
}
