/* ==========================================================================
   Generic
   ========================================================================== */

.btn {
	font-weight: bold;
	cursor: pointer;
	padding: 15px 25px !important;
	text-decoration: none !important;
	font-size: 18px !important;
	font-weight: 600;
	display: inline-block !important;
	position: static;
	border-radius: 3px;
	background-color: transparent;
	border: 3px solid var(--contrast-2);
	color: var(--contrast-2);
	transition: all 0.3s ease-in-out;

	&:hover {
		border-color: var(--contrast-3);
		color: var(--contrast-3);
		background-color: transparent;
	}

	@include mobile {
		display: block;
		width: 100%;
	}
}

/* ==========================================================================
   Core buttons
   ========================================================================== */

.wp-block-buttons {
	.wp-block-button {
		@include mobile {
			display: block;
			width: 100%;
		}
	}

	&:last-child {
		margin-top: 50px;

		@include mobile {
			margin-top: 20px;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

/* ==========================================================================
   GeneratePress buttons
   ========================================================================== */

.gb-button-wrapper {
	.gb-button {
		@extend .btn;
	}
}

/* ==========================================================================
   Gravity forms buttons
   ========================================================================== */

.gform_footer input[type='submit'] {
	@extend .btn;

	border-color: var(--accent);
	color: var(--accent);

	&:hover {
		color: white;
		background-color: var(--accent);
		border-color: var(--accent);
	}

	&:last-child {
		margin-bottom: 0;
		margin-right: 0;
	}
}

/* ==========================================================================
   Blog buttons
   ========================================================================== */

.read-more.button {
	@extend .btn;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.wp-block-button a.wp-block-button__link,
.wp-block-button div.wp-block-button__link {
	@extend .btn;

	&:not(.has-background-color) {
		background-color: transparent;
		border-color: var(--contrast-2);

		&:hover {
			background-color: var(--contrast-2);
			border-color: var(--contrast-2);
		}
	}

	&:not(.has-text-color) {
		color: var(--contrast-2);

		&:hover {
			color: var(--white-color);
		}
	}

	//* Contrast

	&.has-contrast-color {
		color: var(--contrast);
	}

	&.has-contrast-background-color {
		background-color: transparent !important;
		border-color: var(--contrast);

		&:hover {
			background-color: var(--contrast) !important;
			color: var(--white-color) !important;
		}
	}

	//* Contrast-2

	&.has-contrast-2-color {
		color: var(--contrast-2);
	}

	&.has-contrast-2-background-color {
		background-color: transparent !important;
		border-color: var(--contrast-2);

		&:hover {
			background-color: var(--contrast-2) !important;
			color: var(--white-color) !important;
		}
	}

	//* Contrast-3

	&.has-contrast-3-color {
		color: var(--contrast-3);
	}

	&.has-contrast-3-background-color {
		background-color: transparent !important;
		border-color: var(--contrast-3);

		&:hover {
			background-color: var(--contrast-3) !important;
			color: var(--white-color) !important;
		}
	}

	//* Accent

	&.has-accent-color {
		color: var(--accent);
	}

	&.has-accent-background-color {
		background-color: transparent !important;
		border-color: var(--accent) !important;

		&:hover {
			background-color: var(--accent) !important;
			color: var(--contrast-2) !important;
		}
	}
	//* Accent 2

	&.has-accent-2-color {
		color: var(--accent-2);
	}

	&.has-accent-2-background-color {
		background-color: transparent !important;
		border-color: var(--accent-2);

		&:hover {
			background-color: var(--accent-2) !important;
			color: var(--contrast) !important;
		}
	}

	//* White

	&.has-white-color-color {
		color: var(--white-color);
	}

	&.has-white-color-background-color {
		background-color: transparent !important;
		border-color: var(--white-color) !important;

		&:hover {
			background-color: var(--white-color) !important;
			color: var(--contrast) !important;
		}
	}

	//* Base

	&.has-base-color {
		color: var(--base);
	}

	&.has-base-background-color {
		background-color: transparent !important;
		border-color: var(--base);

		&:hover {
			background-color: var(--base) !important;
			color: var(--contrast) !important;
		}
	}
}
