.triangle-top {
	position: relative;

	&:before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 20px;
		background-color: var(--contrast);
		// background-image: url('../images/triangle.svg');
		background-size: contain;
		background-repeat: repeat-x;
		-webkit-mask-image: url('../images/triangle.svg');
		mask-image: url('../images/triangle.svg');
		z-index: 20;

		@include mobile {
			display: none;
		}
	}

	&.green {
		&:before {
			background-color: var(--accent);
		}
	}

	&.blue {
		&:before {
			background-color: var(--contrast);
		}
	}

	&.white {
		&:before {
			background-color: var(--white-color);
		}
	}

	&.base {
		&:before {
			background-color: var(--base);
		}
	}
}
