.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-16-9
	.wp-block-embed__wrapper:before,
.wp-embed-responsive
	.wp-block-embed.wp-embed-aspect-4-3
	.wp-block-embed__wrapper:before {
	padding-top: 0;
}

.fluid-width-video-wrapper {
	background-color: black;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	background-color: black;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rll-youtube-player img {
	transform: scale(1.1);
}

.embed-container .rll-youtube-player {
	position: absolute;
	top: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 0;
	width: 100%;
	bottom: 0;
	left: 0;
}

body .wp-block-embed {
	.wp-block-embed__wrapper {
		height: 0;
		padding-bottom: 56.25%;

		iframe {
			position: absolute;
			bottom: 0;
			top: 0;
			height: 100%;
			left: 0;
			right: 0;
		}
	}
}
