body {
    font-size: 18px;
}

p:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

/* ==========================================================================
   All headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3 {
    margin-top: 50px;

    &:first-child {
        margin-top: 0;
    }
}

.gb-container {
    @include mobile {
        text-align: left !important;
    }
}

p.has-small-font-size {
    letter-spacing: 0.1em;
}

/* ==========================================================================
   Shadow
   ========================================================================== */

h1,
h2,
h3,
p {
    &.has-white-color {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    }
}

small {
    letter-spacing: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
