body {
	font-size: 18px;
}

p:last-child,
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}

/* ==========================================================================
   All headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3 {
	margin-top: 50px;

	&:first-child {
		margin-top: 0;
	}
}

figure + h1,
figure + h2,
figure + h3 {
	&.wp-block-heading {
		margin-top: 0;
	}
}

p.has-large-font-size {
	@include mobile {
		font-size: 20px !important;
	}
}
