//* Default for @extending
.inner-add-margin {
	@include desktop {
		margin-top: $headerheightdesktop;
	}

	@include tablet {
		// margin-top: $headerheighttablet;
	}

	@include mobile {
		// margin-top: $headerheightmobile;
	}
}

body.first-block-is-section:not(.page-id-73772) {
	header.site-header {
		// margin-bottom is negative so that the header is not counted in the height of the first block
		@include desktop {
			margin-bottom: calc(#{$headerheightdesktop} * -1);
		}
	}

	.site-inner {
		margin-top: 0 !important;
	}

	.entry-content > :first-child {
		//* GENERATEBLOCKS
		&.gb-container {
			> .gb-container {
				@extend .inner-add-margin;
			}
		}

		//* CORE COVER
		&.wp-block-cover {
			> .wp-block-cover__inner-container {
				@extend .inner-add-margin;
			}
		}

		//* ELODIN SECTION
		&.elodin-section {
			> .section-content {
				@extend .inner-add-margin;
			}
		}

		//* CHECKERBOARD
		&.checkerboard {
			> .checkerboard-content {
				// this type of section needs the padding applied differently on mobile and desktop
				@include desktop {
					margin-top: $headerheightdesktop;
				}
			}

			@include tablet {
				margin-top: $headerheighttablet;
			}

			@include mobile {
				margin-top: $headerheightmobile;
			}
		}

		//* GUTENBERG SECTIONS
		&.gutenberg-section {
			@include desktop {
				padding-top: 10vh;
				padding-bottom: 10vh;
			}

			@include desktop-wide {
				padding-top: 15vh;
				padding-bottom: 15vh;
			}

			.content-wrap {
				@extend .inner-add-margin;
			}
		}

		//*  GENESIS BLOCKS CONTAINER
		&.wp-block-genesis-blocks-gb-container {
			> .gb-container-inside {
				@extend .inner-add-margin;
			}
		}

		//* GENESIS BLOCKS COLUMNS
		&.wp-block-genesis-blocks-gb-columns {
			> .gb-layout-column-wrap {
				@extend .inner-add-margin;
			}
		}

		//*  ATOMIC BLOCKS CONTAINER
		&.wp-block-atomic-blocks-ab-container {
			> .ab-container-inside {
				@extend .inner-add-margin;
			}
		}

		//* ATOMIC BLOCKS COLUMNS
		&.wp-block-atomic-blocks-ab-columns {
			> .ab-layout-column-wrap {
				@extend .inner-add-margin;
			}
		}

		//* GETWID BLOCKS SECTION
		&.wp-block-getwid-section {
			> .wp-block-getwid-section__wrapper {
				> .wp-block-getwid-section__inner-wrapper {
					@extend .inner-add-margin;
				}
			}
		}

		//* ULTIMATE ADDONS SECTION
		&.wp-block-uagb-section {
			> .uagb-section__inner-wrap {
				@extend .inner-add-margin;
			}
		}
	}
}
