body.full-width-content.first-block-is-section {
    @include desktop {
        .site-header {
            // background-color: rgba(black, 0.3);
            background: linear-gradient(
                0deg,
                transparent 0%,
                rgba(black, 0.4) 100%
            );
            border: none;
            z-index: 50;
        }

        // .main-navigation {
        //     background-color: transparent;
        // }

        .main-navigation.navigation-clone {
            background-color: rgba(white, 0.7);
            backdrop-filter: blur(10px);
            transition: none;
        }

        .main-navigation:not(.navigation-clone) .main-nav > ul > li > a {
            // background-color: transparent;
            color: white;
        }

        .main-title a,
        .main-title a:hover {
            color: white;
        }
    }
}
