body {
    .slideout-overlay {
        background-color: rgba(black, 0.3);
    }

    .main-navigation.offside {
        width: 600px;
        max-width: 100%;
        padding: 40px;

        @include mobile {
            padding: 20px;
        }

        button.slideout-exit {
            text-align: right;

            @include mobile {
                padding-top: 10px;
            }
        }
    }

    .main-navigation.slideout-navigation {
        &.offside--right {
            right: -600px;
        }

        &.offside--right.is-open {
            right: -265px;
        }

        a {
            display: inline;
            font-size: inherit;
            text-decoration: underline;
        }

        .main-nav {
            > ul {
                padding: 0;

                > li {
                    > a {
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 50px;
                        text-decoration: none;
                    }

                    &.current-menu-item > a,
                    &:hover > a {
                        color: var(--accent);
                    }
                }
            }
        }
    }

    .slideout-navigation {
        background-color: var(--contrast-2);

        .main-nav {
            margin-bottom: 0;
        }

        .slideout-widget {
            margin-bottom: 20px;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            ul.wp-block-social-links {
                li {
                    display: inline-block;
                }
            }
        }

        .wp-block-social-links {
            a.wp-block-social-link-anchor {
                font-size: 0.6em;
            }
        }
    }
}
