/* ==========================================================================
   Vars
   ========================================================================== */

$boxshadow: 0 10px 30px 0 rgba(black, 0.12);
$marginbottom: 20px;

$headerheightdesktop: 100px;
$headerheighttablet: 60px;
$headerheightmobile: 60px;

/* ==========================================================================
   Queries
   ========================================================================== */

$thin: 600px;
$medium: 960px;
$wide: 1200px;

@mixin mobile {
	@media (max-width: #{$thin}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$thin}) and (max-width: #{$medium}) {
		@content;
	}
}

@mixin notdesktop {
	@media (max-width: #{$medium}) {
		@content;
	}
}

@mixin notmobile {
	@media (min-width: #{$thin}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$medium}) {
		@content;
	}
}

@mixin desktop-wide {
	@media (min-width: #{$wide}) {
		@content;
	}
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-Bold.woff2') format('woff2'),
		url('../font/MonaSansExpanded-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-ExtraBold.woff2') format('woff2'),
		url('../font/MonaSansExpanded-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-Black.woff2') format('woff2'),
		url('../font/MonaSansExpanded-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-Medium.woff2') format('woff2'),
		url('../font/MonaSansExpanded-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-Regular.woff2') format('woff2'),
		url('../font/MonaSansExpanded-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-SemiBold.woff2') format('woff2'),
		url('../font/MonaSansExpanded-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-Light.woff2') format('woff2'),
		url('../font/MonaSansExpanded-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'mona';
	src: url('../font/MonaSansExpanded-ExtraLight.woff2') format('woff2'),
		url('../font/MonaSansExpanded-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
