/* ==========================================================================
   Vars
   ========================================================================== */

$boxshadow: 0 10px 30px 0 rgba(black, 0.12);
$marginbottom: 20px;

$headerheightdesktop: 170.44px;
$headerheighttablet: 60px;
$headerheightmobile: 60px;

/* ==========================================================================
   Queries
   ========================================================================== */

$thin: 600px;
$medium: 960px;
$wide: 1200px;

@mixin mobile {
    @media (max-width: #{$thin}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$thin}) and (max-width: #{$medium}) {
        @content;
    }
}

@mixin notdesktop {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin notmobile {
    @media (min-width: #{$thin}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin desktop-wide {
    @media (min-width: #{$wide}) {
        @content;
    }
}

/* ==========================================================================
   Font
   ========================================================================== */

// @font-face {
//     font-family: 'nexa';
//     src: url('font/NexaBold.woff2') format('woff2'),
//         url('font/NexaBold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'nexa';
//     src: url('font/NexaLight.woff2') format('woff2'),
//         url('font/NexaLight.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Light.woff2') format('woff2'),
        url('font/Nexa-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Book';
    src: url('font/Nexa-Book.woff2') format('woff2'),
        url('font/Nexa-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Black.woff2') format('woff2'),
        url('font/Nexa-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Bold.woff2') format('woff2'),
        url('font/Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Thin.woff2') format('woff2'),
        url('font/Nexa-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Extra';
    src: url('font/Nexa-ExtraLight.woff2') format('woff2'),
        url('font/Nexa-ExtraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-HeavyItalic.woff2') format('woff2'),
        url('font/Nexa-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-LightItalic.woff2') format('woff2'),
        url('font/Nexa-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Extra';
    src: url('font/Nexa-ExtraBold.woff2') format('woff2'),
        url('font/Nexa-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-BoldItalic.woff2') format('woff2'),
        url('font/Nexa-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Regular.woff2') format('woff2'),
        url('font/Nexa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Extra';
    src: url('font/Nexa-ExtraLightItalic.woff2') format('woff2'),
        url('font/Nexa-ExtraLightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-Heavy.woff2') format('woff2'),
        url('font/Nexa-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Extra';
    src: url('font/Nexa-ExtraBoldItalic.woff2') format('woff2'),
        url('font/Nexa-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Book';
    src: url('font/Nexa-BookItalic.woff2') format('woff2'),
        url('font/Nexa-BookItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-RegularItalic.woff2') format('woff2'),
        url('font/Nexa-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-ThinItalic.woff2') format('woff2'),
        url('font/Nexa-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'nexa';
    src: url('font/Nexa-BlackItalic.woff2') format('woff2'),
        url('font/Nexa-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
