.footer-widgets-container.grid-container {
    padding: 70px 40px;

    @include mobile {
        padding: 25px;
    }
}

@include desktop {
    body .inside-footer-widgets {
        display: flex;
        justify-content: space-between;

        > div {
            width: auto;
            max-width: 20%;
            margin: 0 10px;
            flex: 0 1 auto;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

a.top {
    display: inline-block;
    text-align: center;

    span {
        display: block;
        margin: 0 auto 5px auto !important;
    }
}

a.resident-portal-footer {
    font-weight: 700;
    cursor: pointer;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid white;
    display: inline-block;
    position: static;
    border-radius: 10px;
    line-height: 1;
    transition: 0.3s all ease;
    text-align: center;

    &:hover {
        border-color: var(--accent);
        color: white;
        background-color: var(--accent);
    }
}
