/* ==========================================================================
   Global styles
   ========================================================================== */

body .gform_wrapper.gravity-theme {
    // Generic inputs
    .gfield_label {
        margin-bottom: 0;
    }

    .gfield_required_text {
        color: var(--accent);
    }

    .ginput_container {
        label {
            // padding-top: 0;
            letter-spacing: 0;
            font-size: 14px;
            line-height: 1;
        }
    }

    input:not([type='submit']),
    select {
        min-height: 47px;
    }

    input:not([type='submit']),
    textarea,
    select {
        background-color: white;
        color: var(--contrast);
        border: 1px solid rgb(189, 189, 189);
        border-radius: 3px;
        padding-left: 10px;
    }

    textarea {
        padding-top: 10px;
    }

    // Description
    .gform_description {
        margin-bottom: 20px;
        display: block;
        font-size: 18px;
        line-height: 1.4;

        p {
            margin-bottom: 5px;
            line-height: 1.4;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // Description
    .gfield_description,
    .gfield-consent-description {
        line-height: 1.4;
    }

    // Fields
    .gchoice {
        line-height: 1;
    }

    // Sections
    .gfield.gsection {
        padding-top: 20px;
        border-bottom: 1px solid rgba(var(--accent), 0.1);

        &:first-child {
            padding-top: 0;
        }

        .gsection_description {
            padding-top: 0;
        }

        h3 {
            margin-bottom: 0;
        }
    }

    // Footer
    .gform_footer {
        padding-bottom: 0;
    }

    .gform_footer.before {
        padding: 0 !important;
        margin: 0 !important;
    }

    .gform_footer,
    #field_submit {
        input.gform-button {
            @extend .btn;
            border: none !important;
            min-height: 47px !important;

            margin-bottom: 0;
            cursor: pointer;
        }
    }
}

/* ==========================================================================
   Gray fields
   ========================================================================== */

.gray-fields {
    input:not([type='submit']),
    textarea,
    select {
        background-color: #e6e7e8 !important;
        color: var(--contrast);
        border: 1px solid rgb(189, 189, 189);
        border-radius: 3px;
        padding-left: 10px;
    }
}
