// hide the default one
.header-widget {
    display: none !important;
}

// add the new one
.header-widget-area {
    order: 999;
    margin-left: 20px;

    ul.wp-block-social-links {
        gap: 5px;

        li {
            a {
                font-size: 20px;
            }
        }
    }
}
