@include desktop {
	.first-block-is-section {
		.site-header {
			&:after {
				content: '';
				display: block;
				height: 50px;
				width: 100%;
				// background-color: red;
				margin-bottom: -50px;
				z-index: 10;
				position: relative;
				background-image: url(../images/lights-header.svg);
				background-size: cover;
				background-repeat: repeat-x;
				background-position: bottom center;
			}
		}

		.entry-content {
			> .gb-container:first-child {
				> .gb-container {
					margin-top: 50px;
				}
			}
		}
	}
}
