.site-logo {
	position: absolute;
	z-index: 99;
}

.sticky-navigation-logo {
	position: absolute;

	img.is-logo-image {
		margin: 50px 0 0;
		height: 130px;
	}
}

.site-logo.mobile-header-logo {
	position: relative;
	height: 80px !important;
	width: 80px !important;
	margin-bottom: -20px;

	img.is-logo-image {
		margin: 0;
		padding: 0;
		height: 80px !important;
		width: 80px !important;
		z-index: 99;
	}
}

#secondary-navigation {
	@include notdesktop {
		display: none;
	}
}
