#mobile-header {
    background-color: var(--accent);

    ul.sub-menu.toggled-on {
        border: none;

        > li {
            border: none;

            > a {
                color: white;
                background-color: var(--accent-2);
                border: none;
            }
        }

        > li.current-menu-item {
            > a {
            }
        }
    }
}
