.menu a[target='_blank']:after {
    content: '\f504';
    font-family: 'dashicons';
    opacity: 0.5;
    margin-left: 2px;
    transform: translateY(1.5px);
    display: inline-block;
    line-height: 0;
    font-weight: normal;
}
