.site-header {
	.main-navigation {
		.main-nav {
			// Main menu
			ul {
				li.nav-button {
					@include notmobile {
						margin-left: 20px;
					}

					a {
						@include notmobile {
							background-color: var(--accent) !important;
							border-radius: 3px;
							color: white !important;
							padding: 15px 20px !important;
							line-height: 1;
							transition: 0.3s all ease;

							&:hover {
								background-color: var(--accent-2) !important;
								color: white !important;
							}

							&:after {
								display: none;
							}
						}
					}
				}

				// Submenu
				ul {
					width: 250px;

					li {
						a {
							padding: 15px 20px;
						}
					}
				}
			}
		}
	}
}

.sticky-enabled .main-navigation.is_stuck {
	z-index: 50 !important;
}
