.site-header {
	.main-navigation {
		.main-nav {
			// Main menu
			ul {
				li.nav-button {
					@include notmobile {
						margin-left: 20px;
					}

					a {
						@include notmobile {
							font-weight: bold;
							cursor: pointer;
							font-size: 14px !important;
							font-weight: 600;
							text-transform: uppercase;
							letter-spacing: 0.05em;
							padding: 13px 20px !important;
							border: 2px solid var(--accent) !important;
							border-color: var(--accent) !important;
							background-color: transparent !important;
							border-radius: 3px;
							color: var(--accent) !important;
							padding: 15px 20px !important;
							line-height: 1;
							transition: 0.3s all ease;

							&:hover {
								color: var(--contrast) !important;
								background-color: var(--accent) !important;
								border-color: var(--accent) !important;
							}
						}
					}
				}

				// Submenu
				ul {
					width: 250px;

					li {
						a {
							padding: 15px 20px;
						}
					}
				}
			}
		}
	}
}

.sticky-enabled .main-navigation.is_stuck {
	z-index: 50 !important;
}

.menu,
.sf-menu {
	a[target='_blank']:after {
		content: '\f504';
		font-family: 'dashicons';
		opacity: 0.5;
		margin-left: 2px;
		transform: translateY(1.5px);
		display: inline-block;
		line-height: 0;
		font-weight: normal;
	}
}
