.prefooter {
	iframe {
		margin-bottom: -9px;
	}

	.gform_wrapper {
		.ginput_container {
			input {
				border-top: none;
				border-left: none;
				border-right: none;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.gform_footer {
		input.gform_button {
			@extend .btn;

			background-color: transparent !important;
			border: 2px solid var(--accent) !important;

			&:hover {
				background-color: var(--accent) !important;
				color: var(--contrast) !important;
			}
		}
	}
}

ul#menu-footer {
	li {
		a {
			color: white;
			text-transform: uppercase;

			&:hover {
				color: var(--accent);
			}
		}
	}
}
