body.single-properties {
    background-color: white;

    h2:not(.is-style-red-line) {
        @include notmobile {
            width: auto;
            display: inline-block;
            clear: both;

            &:after {
                content: '';
                width: 100%;
                border-bottom: 3px solid var(--accent);
                display: block;
                margin: 20px 0 15px;
            }
        }
    }

    h4.city {
        @extend .is-style-kicker;
        margin-bottom: 0;
    }

    .site-content {
        display: block;
    }

    .grid-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    /*
       Entry header
       ========================================================================== */

    .wrap-single-properties-entry-header {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        padding: 40px 40px;
        background-color: var(--contrast-2);

        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            right: 0;
            // background-color: red;
            background-image: url('../../images/logo-light.svg');
            z-index: 5;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center left;
        }

        @include mobile {
            padding: 40px;
        }

        .single-properties-entry-header {
            position: relative;
            z-index: 10;
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            display: grid;
            grid-template-columns: 1fr 200px;
            align-items: center;
            gap: 100px;

            @include mobile {
                grid-template-columns: 1fr;
            }

            .title-wrap {
            }

            .logo-wrap {
                @include mobile {
                    display: none;
                }
                .logo {
                    height: 0;
                    padding-top: 60%;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }

            h1 {
                color: white;
                line-height: 1;
            }
        }
    }

    /*
       Floorplans
       ========================================================================== */

    .wrap-floorplans {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        padding: 7% 40px;
        background-color: var(--base-2);

        .floorplans-wrap {
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;

            summary > h3 {
                background-color: white;
                padding: 20px 30px;
                font-weight: 500;
                font-size: 20px;

                &:after {
                    color: var(--accent);
                }
            }

            .floorplan-images-wrap {
                background-color: white;

                @include desktop {
                    min-width: 400px;
                }
            }

            p.info span {
                font-size: 16px !important;
            }

            h3.floorplan-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
            }

            .floorplan-in-archive
                .floorplan-inner
                .floorplan-images-wrap
                .floorplan-slide {
                @include desktop {
                    height: 400px;
                }
            }
        }
    }

    /*
       Amenities
       ========================================================================== */

    .wrap-amenities {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        background-color: var(--accent);
        padding: 7% 40px;

        .amenities-wrap {
            max-width: 1200px;
            margin: 0 auto;

            h2 {
                color: white;
                text-align: center;
                display: block;

                &:after {
                    display: none;
                }

                @include mobile {
                    text-align: left;
                }
            }

            ul.amenities {
                padding-top: 30px;
                li {
                    border-bottom: 2px solid rgba(white, 0.2);
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}
