body.single-services {
    .container.grid-container {
        width: 100%;
        max-width: 100%;

        .site-content {
            display: block;
        }

        .entry-content {
            margin: 0;
        }

        .service-header {
            position: relative;
            padding: 60px 25px;
            text-align: center;
            background-color: var(--contrast);
            min-height: 40vh;
            display: flex;
            align-items: center;
            justify-content: center;

            h1,
            p.is-style-kicker {
                color: white;
            }

            .featured-image {
                opacity: 0.6;
                position: absolute;
                z-index: 5;
                background-size: cover;
                background-position: center;
                inset: 0;
                margin: 0;
            }

            .header-content {
                position: relative;
                z-index: 10;
            }
        }
    }

    .connected-teammembers {
        padding: 60px 25px;
        background-color: var(--base);

        @include mobile {
            padding: 25px;
        }

        .wrap {
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;

            h2 {
                text-transform: capitalize;
            }
        }

        .teammembers-loop {
            grid-template-columns: repeat(4, 1fr);

            @include notdesktop {
                grid-template-columns: repeat(3, 1fr);
            }

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .services-section {
        padding: 60px 25px;
        background-color: white;

        @include mobile {
            padding: 25px;
        }

        .wrap {
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;

            h2 {
                text-transform: capitalize;
            }
        }
    }
}
