/* ==========================================================================
   Transparent header
   ========================================================================== */

body.properties-template-default {
    .site-content {
        display: block;

        > :first-child {
            &.section-hero {
                @include desktop {
                    margin-top: -$headerheightdesktop;
                    padding-top: $headerheightdesktop * 1.5;
                }
            }
        }
    }

    .site-inner {
        margin-top: 0 !important;
    }
}

/* ==========================================================================
   Markup
   ========================================================================== */

body.properties-template-default {
    background-color: white;

    .wrap {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* ==========================================================================
       Hero
       ========================================================================== */

    .section-hero {
        height: 90vh;
        width: 100%;
        background-color: black;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.89) 0%,
                rgba(0, 0, 0, 0) 56%
            );
            z-index: 15;
        }

        @include mobile {
            height: 60vh;
        }

        .hero-image {
            position: absolute;
            inset: 0;
            height: auto;
            padding: 0;
            background-size: cover;
            z-index: 10;
        }

        .hero-content {
            top: auto;
            position: absolute;
            bottom: 0;
            padding: 0 25px 60px;
            z-index: 20;
            max-width: calc(100% - 50px);

            @include mobile {
                padding: 25px;
            }

            :last-child {
                margin-bottom: 0;
            }

            h1 {
                color: white;
            }

            a.directions-link {
                color: white;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                .dashicons {
                    transition: 0.3s all ease;
                }

                &:hover {
                    .dashicons {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }

    /* ==========================================================================
       Nav
       ========================================================================== */

    .section-nav {
        background-color: white;

        .toggle-subnav {
            display: none;
            background-color: white;
            text-align: center;
            padding: 20px 30px;
            position: static;
            line-height: 1;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin-bottom: 5px;
            color: var(--contrast);
            text-decoration: none !important;
            margin: 0;

            &.open {
                background-color: var(--base);
            }

            @include mobile {
                display: block;
            }
        }

        .nav-content {
            margin: 0 auto;
            text-align: center;

            @include mobile {
                display: none;

                &.active {
                    display: block;
                }
            }

            .nav-item {
                display: inline-block;

                @include mobile {
                    display: block;
                    width: 100%;
                }

                a {
                    padding: 20px 30px;
                    position: static;
                    line-height: 1;
                    display: block;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    margin-bottom: 5px;
                    color: var(--contrast);
                    text-decoration: none !important;
                    margin: 0;
                    background-color: white;

                    &:hover {
                        color: var(--accent);
                    }

                    @include mobile {
                        padding: 20px;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    /* ==========================================================================
       Description
       ========================================================================== */

    .section-description {
        text-align: center;
        padding: 60px 25px;
        background-color: var(--accent);
        color: white;

        @include mobile {
            padding: 25px;
            text-align: left;
        }

        .description-content {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
        }
    }

    /* ==========================================================================
       Slider
       ========================================================================== */

    .section-slider {
        padding: 25px 0;
        text-align: center;

        @include mobile {
            text-align: left;
        }

        .single-property-slider {
            transition: 0.3s opacity ease;
            &:not(.slick-initialized) {
                opacity: 0;
                height: 320px;
            }

            .slide {
                padding-left: 10px;
                padding-right: 10px;
            }

            .image {
                height: 0;
                padding-top: 55%;
                width: 100%;
                display: block;
                background-size: cover;
                background-position: center center;
                position: relative;

                .overlay {
                    position: absolute;
                    inset: 0;
                }
            }
        }

        .arrows {
            margin-top: 20px;
            text-align: center;

            .single-property-prev,
            .single-property-next {
                background-color: transparent;
                color: var(--accent);
                transition: 0.3s all ease;
                padding: 20px 10px;

                &:hover {
                    color: var(--accent-2);
                }
            }
        }
    }

    /* ==========================================================================
       Availability 
       ========================================================================== */

    .section-availability {
        padding: 120px 25px;
        text-align: center;

        @include mobile {
            text-align: left;
        }

        h2 {
            @include desktop {
                margin-bottom: 40px;
            }
        }

        @include mobile {
            padding: 25px;
        }

        .form-wrap {
            width: 100%;
            max-width: 800px;
            text-align: left;
            padding: 30px;
            background-color: var(--base);
            border-radius: 3px;
            margin: 0 auto;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05);
        }
    }

    /* ==========================================================================
       Tour
       ========================================================================== */

    .full-width-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (9 divided by 16) */
        height: 0;
        overflow: hidden;
    }

    .full-width-video iframe,
    .full-width-video object,
    .full-width-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* ==========================================================================
       Floorplans
       ========================================================================== */

    .wrap-floorplans {
        background-color: var(--base);
        padding: 120px 25px;

        .floorplan-images-wrap {
            @include mobile {
                margin: 0 0 35px;
                width: 100%;
            }
        }

        @include mobile {
            padding: 25px;
        }

        .floorplans-wrap {
            width: 1200px;
            max-width: 100%;
            margin: 0 auto;

            .floorplan-in-archive {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            summary {
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
                padding: 20px 30px;

                h3 {
                    font-family: 'Montserrat';
                    font-size: 18px;
                }
            }
        }
    }

    /* ==========================================================================
       Amenities
       ========================================================================== */

    .section-amenities {
        padding: 60px 25px;
        text-align: center;
        background-color: var(--accent);
        color: white;

        h2 {
            @include desktop {
                margin-bottom: 40px;
            }
        }

        @include mobile {
            padding: 25px;
            text-align: left;
        }

        .wrap {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
        }

        .amenities {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            text-align: left;

            > div {
                align-items: center;
                display: flex;
            }

            div.icon {
                height: 30px;
                width: 30px;
                margin-right: 10px;
                background-size: contain;
                display: inline-block;
                background-position: center center;
                background-repeat: no-repeat;
            }

            @include mobile {
                grid-template-columns: 1fr;
            }
        }
    }

    /* ==========================================================================
       Checkerboard
       ========================================================================== */

    .section-checkerboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include notdesktop {
            grid-template-columns: 1fr;
        }

        .column {
            padding: 60px;
            display: flex;
            align-items: center;
            min-height: 500px;

            &.image {
                @include notdesktop {
                    order: 0;
                    min-height: 200px;
                }
            }

            &.content {
                @include notdesktop {
                    order: 1;
                }

                .content-wrap {
                    max-width: 540px;
                    width: 100%;
                    margin: 0 auto;
                }

                &:first-child {
                    .content-wrap {
                        margin-right: 0;
                    }
                }

                &:last-child {
                    .content-wrap {
                        margin-left: 0;
                    }
                }
            }

            @include notdesktop {
                padding: 25px;
                min-height: auto;
            }

            .wrap {
                max-width: 800px;
                width: 100%;
                margin: 0 auto;
            }

            .amenities {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                text-align: left;
            }
        }

        .image {
            background-color: gray;
            position: relative;

            .the-image {
                position: absolute;
                inset: 0;
                background-size: cover;
                background-position: center center;
            }
        }
    }

    /* ==========================================================================
       Other properties
       ========================================================================== */

    .section-other-properties {
        padding: 120px 25px;
        text-align: center;

        @include mobile {
            padding: 25px;
            text-align: left;
        }
    }
}

/* ==========================================================================
   Description
   ========================================================================== */
