div.top-bar {
	.inside-top-bar {
		padding-top: 5px;
		padding-bottom: 5px;

		@include notmobile {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		@include mobile {
			justify-content: center;
			padding-left: 25px;
			padding-right: 25px;
		}

		.widget {
			@include notmobile {
				margin-right: 5px;
				margin-left: 5px;
				display: block;
				order: auto !important;

				&:last-child {
					margin-right: 0 !important;
				}

				&:first-child {
					margin-left: 0 !important;
					margin-right: auto;

					&:last-child {
						margin-right: auto !important;
					}
				}
			}
		}
	}
	p {
		margin-bottom: 0;
	}

	a {
		// text-decoration: none;

		&:hover {
			// text-decoration: none;
		}
	}
}
