div.top-bar {
	.inside-top-bar {
		padding-top: 0;
		padding-bottom: 0;

		@include notmobile {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		@include mobile {
			// justify-content: center;
			text-align: right;
			padding: 5px;

			.widget {
				width: 100%;
				margin: 0;
			}
		}

		.widget {
			order: 1;

			@include mobile {
				&.widget_text {
					display: none;
				}
			}

			@include notmobile {
				margin-right: 5px;
				margin-left: 5px;
				display: block;
				order: auto !important;

				&:last-child {
					margin-right: 0 !important;
				}

				&:first-child {
					margin-left: 0 !important;
					margin-right: auto;

					&:last-child {
						margin-right: auto !important;
					}
				}
			}
		}
	}
	p {
		margin-bottom: 0;
	}

	a {
		// text-decoration: none;

		&:hover {
			// text-decoration: none;
		}
	}
}
