div.top-bar {
	margin-right: 30px !important;

	.inside-top-bar {
		justify-content: flex-end;

		@include mobile {
			justify-content: center;
		}

		.widget {
			&:first-child {
				margin-left: 0 !important;
				margin-right: auto;
			}

			&:last-child {
				margin-right: 0 !important;
			}
		}
	}
	p {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}
