body .na-attractions-categories-wrap {
	@include mobile {
		grid-template-columns: 1fr;
	}
	li {
		button.attraction-type-button {
			background-color: #2050ff1a;
			color: var(--accent);
			transition: 0.3s all ease;
			font-weight: bold;
			font-size: 15px;
			padding: 20px 15px;

			@include mobile {
				padding: 10px;
			}

			&.active,
			&:hover {
				background-color: var(--accent-2);
				color: white;
			}
		}
	}
}

body .attractions-content {
	h3 {
		font-size: 18px !important;
		color: var(--accent);
	}
}

body {
	.na-attractions-wrap {
		.hentry {
			transition: 0.3s all ease;

			&.active,
			&:active,
			&:focus,
			&:hover {
				background-color: var(--base);
			}
		}
	}
}
