body .attractions-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .attractions {
        width: auto;
        padding: 15px;
        box-shadow: $boxshadow;

        .featured-image {
            margin-top: 0;
            padding-top: 55%;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 10px;
        }

        p.address {
            font-size: 16px;
        }

        p {
            line-height: 1.4em;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.attractions-wrap ul.attractions-filters {
    li {
        margin-right: 15px;

        @include mobile {
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            color: var(--contrast-2);
            padding: 0;

            &.active,
            &:hover {
                color: var(--accent);
            }
        }
    }
}
