.facetwp-facet {
	margin: 0;
}

.facetwp-facet {
	margin-bottom: 0 !important;
}

.facet-wrap {
	width: 100%;
	min-width: 100px;

	.fs-wrap {
		width: 100%;
	}

	h3.facet-label {
		margin: 0 0 5px 0;
		font-size: 18px;
	}

	.facetwp-search,
	select,
	.fs-label {
		// width: 100%;
	}

	.fs-label {
		padding: 10px 22px 10px 10px;
		margin: 0;
	}

	input[type='text'] {
		min-height: 40px;
		padding-left: 10px;
	}

	.facetwp-facet-text_search {
		.facetwp-input-wrap {
			width: 100%;
		}

		input.facetwp-search {
			width: 100%;
			padding: 0 0 0 15px;
			line-height: 1;
			min-width: 100%;
			max-width: 100%;
		}

		i.facetwp-icon {
			display: none;
		}
	}

	.facetwp-type-slider {
		.facetwp-slider-wrap {
			padding-bottom: 0;
		}

		.facetwp-slider-label {
			font-size: 18px;
		}

		.facetwp-slider-reset {
			display: none !important;
		}
	}
}
