body.page-scroll-animations {
    overflow: hidden;

    .inner-container {
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        will-change: transform, opacity;
    }

    // scenes
    .scene-container {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        will-change: transform, opacity;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        .full {
            background-size: cover;
            background-position: center center;
            left: -2.5%;
            top: -2.5%;
            height: 105%;
            width: 105%;
            will-change: transform, opacity;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;

            &[data-depth='1'] {
                left: -7.5%;
                top: -5%;
                height: 115%;
                width: 115%;
            }
        }
    }

    // positioning for individual items
    [data-depth] {
        position: absolute;
        // height: 30px;
        // width: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        will-change: transform, opacity;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }

    .dot {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: transparent;
        border: 8px solid white;
        transition: 0.3s all ease;
        cursor: pointer;
        pointer-events: all !important;
        z-index: 999999999 !important;
        overflow: visible;

        .pulse {
            transition: 0.3s all ease;
        }

        &:hover {
            // background-color: #a1c07a;
            background-color: white;
            // border-color: #c8e2aa;
            border-width: 5px;

            .pulse {
                animation: pulseAnimation 0.8s ease-in-out;
                background-color: rgba(white, 0.6);
                // transform: scale(3);
                // opacity: 1;
            }
        }
    }

    .pulse {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: white;
        opacity: 0;
        // animation: pulseAnimation 1s ease-in-out infinite;
    }

    @keyframes pulseAnimation {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        50% {
            opacity: 0.7;
        }
        100% {
            transform: scale(8);
            opacity: 0;
        }
    }

    .scene-container-1 {
        .mirror-right {
            background-image: url('../images/scene-1-mirror-right.png');
            transition: background-image 1s;
        }

        .mirror-right-active {
            background-image: url('../images/scene-1-mirror-right-active.png');
        }

        .mirror-left {
            background-image: url('../images/scene-1-mirror-left.png');
            transition: background-image 1s;
        }

        .mirror-left-active {
            background-image: url('../images/scene-1-mirror-left-active.png');
        }

        .dot-mirror-left {
            left: 22%;
            bottom: 50%;
        }

        .dot-mirror-right {
            right: 22%;
            bottom: 30%;
        }

        .scrolldown {
            background-color: transparent;
            border-radius: 20px;
            display: block;
            bottom: 40px;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1;
            padding: 12px 20px;
            font-weight: 600;
            letter-spacing: 0.05em;
            border: 3px solid white;
            background-color: rgba(0, 0, 0, 0.7);
            transition: background-color 1s, color 1s; /* Add transition for smooth color change */
            animation: bounceColors 4s infinite;
        }

        @keyframes bounceColors {
            0%,
            100% {
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
            }
            50% {
                background-color: white;
                color: black;
            }
        }
    }

    .scene-container-2 {
        .scene-2-bkg {
            background-image: url('../images/scene-2-bkg.jpg');
            transition: background-image 1s;
        }

        .scene-2-bkg.animate-background {
            background-image: url('../images/scene-2-bkg-active.jpg');
        }

        .dot-sword {
            right: 20%;
            bottom: 35%;
        }

        .dot-bull {
            left: 20%;
            bottom: 25%;
        }
    }

    .scene-container-3 {
        .dot-book {
            left: 30%;
            bottom: 40%;
        }

        .dot-coin {
            left: 48%;
            top: 48%;
        }

        .dot-cups-red {
            top: 26%;
            right: 43%;
        }

        .dot-cups-blue {
            top: 30%;
            right: 32%;
        }

        .dot-cups-green {
            top: 27%;
            right: 22%;
        }
    }
}
