.loop-container.loop-layout-insurance {
    .entry {
        position: relative;
        box-shadow: $boxshadow;
        border-radius: 3px;
        background-color: white;

        .featured-image {
            height: 0;
            padding-top: 25%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 10%;
        }

        .content {
            position: absolute;
            text-align: center;
            inset: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            background-color: var(--accent-transparency);
            transition: 0.5s all ease;
            border-radius: 3px;

            h3 {
                color: white;
            }
        }
    }

    .entry:hover {
        .content {
            opacity: 1;
        }
    }
}
