.loop-container.loop-layout-inthenewssmall {
	margin-top: 0;
	padding-top: 0;

	.entry {
		// background-color: var(--base);
		text-align: center;

		@include mobile {
			text-align: left;
		}

		.loop-item-inner {
			display: grid;
			grid-template-columns: 1fr;
			align-items: center;

			@include mobile {
				grid-template-columns: 1fr;
			}

			.featured-image {
				min-height: 200px;
				height: 100%;
				background-size: cover;
				background-position: center center;
				position: relative;

				@include mobile {
					display: none;
				}

				.overlay {
					display: flex;
					align-content: center;
					justify-content: center;
					position: absolute;
					inset: 0;
					transition: 0.3s all ease;

					&:hover {
						background-color: rgba(black, 0.6);

						a.popup {
							&:hover:after {
								color: white;
							}
						}
					}

					a.video {
						text-decoration: none;
						color: var(--accent);
						display: inline-block;
						font-family: dashicons;

						&:after {
							content: '\f522';
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translateX(-50%) translateY(-50%);
							font-size: 150px;
							transition: 0.3s all ease;
						}

						// span.dashicons {
						// 	font-size: 100px;
						// }
					}

					a.full {
						position: absolute;
						inset: 0;
					}
				}
			}

			.content {
				padding: 20px 0;

				@include mobile {
					padding: 25px;
				}

				h3 {
					margin-bottom: 0;
				}

				p.date {
					text-transform: uppercase;
					font-weight: 500;
					font-size: 15px;
					// color: var(--contrast-2);
					letter-spacing: 0.05em;
				}

				p:last-child {
					margin-bottom: 0;
				}

				.btn {
					background-color: var(--accent);
					color: white;

					&:hover {
						background-color: var(--accent-2);
					}
				}
			}
		}
	}
}
