.loop-container.loop-layout-jobs {
    justify-content: center;

    .entry {
        box-shadow: $boxshadow;
        border-radius: 3px;
        transition: 0.3s all ease;

        &:hover {
            box-shadow: $boxshadow !important;

            .overlay {
                background-color: var(--blue-transparent);
                opacity: 1;

                &:before {
                    top: 50%;
                    opacity: 1;
                }
            }
        }

        .overlay {
            opacity: 0;
            border-radius: 3px;
            transition: 0.3s all ease;

            &:before {
                content: 'Read more';
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 0.05em;
                font-weight: bold;
                transition: 0.5s all ease;
                opacity: 0;
            }
        }

        h3 {
            margin-bottom: 5px;
            transition: 0.3s all ease;
        }

        .excerpt {
            p {
                font-size: 16px;
                line-height: 1.4em;
                transition: 0.3s all ease;
            }
        }
    }
}
