.loop-container.loop-layout-locations_small {
	@include notmobile {
		justify-content: center;
	}

	margin-top: 0;
	margin-bottom: 0;

	.entry {
		position: relative;
		transition: 0.3s all ease;
		border-radius: 3px;

		.content {
			@include notmobile {
				padding: 10px;
			}
		}

		.overlay {
			position: absolute;
			inset: 0;
			transition: 0.3s all ease;
			z-index: 10;
			text-indent: -9999px;
		}

		h3 {
			font-size: 16px;
			margin-bottom: 5px;
			color: #a47700;
			transition: 0.3s all ease;

			@include mobile {
				font-size: 18px;
				margin-bottom: 0;
			}
		}

		p {
			font-size: 14px;
			margin-bottom: 5px;
			line-height: 1.2;
			color: #a47700;
			transition: 0.3s all ease;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p.phone {
			font-weight: bold;

			.phone-link {
				position: relative;
				z-index: 20;
				text-decoration: none;

				&:hover {
					color: var(--contrast-2);
				}
			}
		}
	}

	.entry:hover {
		background-color: #a47700;

		h3,
		p {
			color: white;
		}
	}
}
