.locations-wrap {
	.states {
		margin-top: 50px;

		&:first-child {
			margin-top: 0;
		}

		.location-details {
			h2 {
				.more-info {
					text-decoration: none;
					opacity: 0.5;
					font-size: 16px;
					text-transform: uppercase;
					font-weight: normal;
					color: var(--contrast);
					transition: 0.3s all ease;

					&:hover {
						text-decoration: underline;
						opacity: 1;
					}

					@include mobile {
						display: block;
						margin: 5px 0 10px;
						font-size: 14px;
					}
				}
			}
		}
	}
}
