.partners-footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    z-index: 50;

    .partners-slider {
        opacity: 0;
        transition: 0.5s opacity ease;
        height: 25px;

        &.slick-initialized {
            opacity: 1;
            height: auto;
        }
    }

    .partners-wrap {
        margin: 0 auto;
        width: 100%;
        // max-width: 1200px;
    }

    .partner-item {
        // width: 200px;
        padding: 0 20px;
        // .partner-item-inner {
        // .featured-image {
        //     padding-top: 55%;
        //     width: 100%;
        //     height: 0;
        //     background-size: cover;
        //     background-position: center center;
        //     margin: 0;
        //     background-repeat: no-repeat;
        // }
        // }

        img.partner-image {
            height: 25px;
            width: auto !important;
            filter: grayscale(100%) contrast(5);
            // max-width: 100px;
        }
    }
}
