.loop-container.loop-layout-partners {
	.entry {
		.loop-item-inner {
			padding-top: 55%;
		}

		.featured-image {
			inset: 15% 10%;
		}

		.overlay {
			background-color: rgba(#006580, 0.9);
		}
	}
}
