.people-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;

	@include tablet {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.people {
		padding: 10px 15px;
		box-shadow: 0 3px 7px 0 rgba(black, 0.05);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		background-color: white;

		@include desktop {
			min-height: 70px;
		}

		h3 {
			font-size: 15px;
			margin-bottom: 3px;
			line-height: 1;
			letter-spacing: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p.class,
		p.donation-amount {
			opacity: 0.5;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			line-height: 1;
		}
	}
}
