.biolime-products {
	display: grid;
	grid-template-columns: 1fr;
	gap: 25px;

	@include desktop {
		gap: 25px;

		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.wc-content {
		padding-top: 15px;

		h3 {
			margin-bottom: 5px;
		}

		.btn {
			padding: 8px 15px !important;
		}

		.price {
			color: var(--contrast-3);
			font-size: 16px;

			del {
				opacity: 0.5;
			}

			ins {
				font-weight: bold;
			}
		}
	}

	.featured-image {
		background-size: cover;
		padding-top: 75%;
		background-position: center center;
		margin: 0 !important;
		display: block;
		transition: 0.3s box-shadow ease;
		background-repeat: no-repeat;
		border-radius: 3px;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

		&:hover {
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1),
				0 0 0 5px var(--contrast);
		}
	}

	a.added_to_cart {
		font-size: 15px;
		display: block;
		margin-top: 5px;
	}
}
