body ul.wc-block-grid__products {
	display: grid;
	gap: 60px;
	margin: 0;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 40px;

	@include mobile {
		grid-template-columns: 1fr;
		grid-gap: 25px;
	}

	li.wc-block-grid__product {
		margin: 0;
		border: none;
		text-align: left;
		float: none;
		display: block;
		width: 100%;
		max-width: 100% !important;

		.wp-block-button__link {
			margin-right: 10px !important;
			display: inline-block;
		}

		.wc-block-grid__product-onsale {
			top: 5px;
			right: 5px;
			border-radius: 0;
			background-color: var(--contrast);
			color: white;
			border: none;
			line-height: 1;
			padding: 6px 8px;
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 5px !important;
		}

		.wc-block-grid__product-link {
			text-decoration: none;
		}

		.wc-block-grid__product-title {
			font-size: 18px;
			color: var(--contrast);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2; /* number of lines to show */
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}

		.wc-block-grid__product-price {
			font-weight: 700;

			del {
				font-weight: 300;
				opacity: 0.5;
			}
		}

		.wp-block-button {
			a.add_to_cart_button {
				padding: 12px 20px !important;
				line-height: 1;
				font-size: 14px !important;
			}
		}
	}
}
