.loop-container.loop-layout-services_photo {
    .entry {
        background-color: white;
        box-shadow: $boxshadow;
        border-radius: 3px;
        overflow: hidden;
        transition: 0.3s box-shadow ease-in-out;

        &:hover {
            box-shadow: $boxshadow, 0 0 0 5px var(--accent);
        }

        .featured-image {
            margin: 0;
        }

        h3 {
            text-align: center;
            margin: 0;

            a {
                padding: 20px;
                display: block;
            }
        }

        .post-edit-link {
            display: none;
        }
    }
}
