body .loop-container.loop-layout-services_fullwidth {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0;
    align-items: center;
    justify-items: center;
    margin: 0;

    @include mobile {
        > :last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }
    }

    .entry {
        background-color: var(--contrast-2);
        margin: 0;
        padding-top: 70%;
        height: 0;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            z-index: 3;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
            position: absolute;
            inset: 0;
            transition: 0.3s all ease;
        }

        .overlay {
            z-index: 10;
        }

        .content {
            padding: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 5;
        }

        .featured-image {
            z-index: 2;
            inset: 0;
            position: absolute;
            background-size: cover;
            background-position: center center;
            filter: grayscale(100%);
            transition: 0.3s all ease;
        }

        h3 {
            color: white;
            margin-bottom: 0;
        }
    }

    .entry:hover {
        &:before {
            opacity: 0.5;
        }
        .featured-image {
            filter: grayscale(0%);
        }
    }
}
