@include desktop {
    .loop-container.loop-layout-services {
        .entry {
            border: 2px solid var(--base);
            margin-bottom: 30px;
            border-radius: 3px;
            background-color: white;
            position: relative;
            overflow: visible;

            .overlay {
                position: absolute;
                inset: 0;
                transition: 0.3s all ease;
                border-radius: 3px;
            }

            .services-content-wrap {
                padding-right: 30px;
            }

            .featured-image {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }

        .entry:hover {
            .overlay {
                box-shadow: 0 0 0 10px var(--base);
            }
        }
    }
}
