.loop-container.loop-layout-services_cardinal {
	.entry {
		padding: 0;
		background-color: transparent;

		a.post-edit-link {
			font-size: 16px;
		}

		.featured-image {
			background-color: #f7f7f7;
			width: 100%;
			display: block;
			background-size: cover;
			background-position: center center;
			height: 0;
			padding-top: 56%;
			margin-bottom: 10px;
			border-radius: 3px;
			transition: 0.5s all ease;
		}

		h3 {
			font-size: 18px;
			margin: 0;

			a {
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.entry:hover {
		a.featured-image {
			box-shadow: 0 0 0 5px var(--accent);
		}
	}
}
