.inside-right-sidebar {
	.widget {
		margin-bottom: 40px !important;

		h2.widget-title {
			font-family: 'mona';
			line-height: 1;
			margin-bottom: 10px;
		}

		.wp-block-search__inside-wrapper {
			display: flex;
			flex-direction: row;

			input {
				font-size: 16px;
			}

			button {
				margin: 0;
				background-color: var(--contrast);

				&:hover {
					background-color: var(--contrast-2);
				}
			}
		}

		ul.wc-block-product-categories-list {
			width: 100%;
			margin: 0;
			padding: 0;

			li {
				margin: 0;
				padding: 0;

				a {
					text-decoration: none;
					background-color: var(--contrast);
					display: block;
					padding: 8px 20px;
					color: white;

					&:hover {
						background-color: var(--contrast-2);
					}
				}

				&:first-child > a {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:last-child > a {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				span.wc-block-product-categories-list-item-count {
					display: none;
				}
			}
		}

		.wp-block-woocommerce-product-categories {
			display: flex;
			flex-direction: row;

			.wc-block-product-categories__dropdown {
				width: calc(100% - 85px);

				select {
					font-size: 16px;
					color: var(--contrast-2);
				}
			}

			button {
				width: 85px;
				display: block;
				background-color: var(--contrast);

				&:hover {
					background-color: var(--contrast-2);
				}
			}
		}

		&.widget_recently_viewed_products {
			padding: 25px;
			background-color: var(--base);

			img {
				display: none;
			}

			span.product-title {
				color: var(--contrast);
				font-size: 16px;
				line-height: 1.2 !important;
				display: block;

				&:hover {
					color: var(--accent);
				}
			}
		}
	}
}
