body .loop-container.loop-layout-staff_grid {
	.staff {
		border-radius: 7px;
		overflow: hidden;

		.more-link-wrap {
			// transform: none;
			// opacity: 1;
			// pointer-events: all;

			h3 {
				font-size: 18px;
			}

			.jobtitle {
				font-weight: bold;
			}
		}
	}
}

.staff-content {
	.info {
		margin-bottom: 30px;
	}

	p.title {
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 16px;
		margin: 15px 0;
	}

	.button {
		@extend .btn;
	}
}
