.loop-container.loop-layout-staff_simple {
	.entry {
		background-color: var(--base);
		box-shadow: none;
		padding: 40px 25px;

		h3 {
			font-family: 'westmount';
			letter-spacing: -0.1em;
		}

		p.jobtitle {
			font-size: 18px;
			color: var(--accent);
			font-family: 'westmount';
			letter-spacing: -0.1em;
			line-height: 0.9;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p.email {
			margin-bottom: 0;
			font-size: 16px;
			opacity: 0.7;

			a {
				color: var(--contrast) !important;
				text-decoration: none !important;
			}
		}

		p.phone {
			opacity: 0.7;
			margin-bottom: 0;
			font-size: 16px;
		}

		.overlay-link {
			background-color: rgba(#2a4351, 0.85);
			font-size: 18px;
			font-family: 'westmount';
			letter-spacing: -0.1em;
			line-height: 0.9;
		}
	}
}

.goverlay {
	background-color: rgba(#2a4351, 0.85);
}

.ginlined-content,
.glightbox-clean .gslide-media {
	box-shadow: none;
}
