body .loop-container.loop-layout-testimonial_slider {
	position: relative;
	margin-top: 40px;
	opacity: 0;
	// max-height: 0;

	&.slick-initialized {
		opacity: 1;
		max-height: auto;
	}

	.entry {
		padding: 0;

		.testimonial-content {
			padding: 25px;
			border-radius: 10px;
			background-color: white;
			position: relative;

			p {
				color: var(--contrast);
			}

			&:before {
				display: none;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				border: 10px solid red;
				margin-left: 15px;
				border-color: white transparent transparent transparent;
				transform: translateY(100%);
			}
		}

		h3,
		span.jobtitle {
			margin-left: 30px;
		}

		h3 {
			color: white;
		}

		span.jobtitle {
			font-weight: 600;
			color: var(--accent);
			letter-spacing: 0;
			line-height: 1;
		}
	}

	ul.slick-dots {
		position: absolute;
		top: -10px;
		left: 0;
		text-align: left;
		transform: translateY(-45px);

		li {
			button {
				&:before {
					font-size: 20px;
					color: white;
				}
			}
		}
	}
}
