.loop-container.loop-layout-testimonial_grid {
    .entry {
        .testimonial-content {
            background-color: var(--contrast-3);
            color: white;

            a {
                color: white;
            }

            &:after {
                left: 30px;
                border-color: var(--contrast-3) transparent transparent
                    transparent;
                border-width: 10px;
                bottom: -20px;
            }
        }

        h3.title {
            color: white;
            font-size: 18px;
            margin-bottom: 0;
            line-height: 1.4;
            padding-top: 5px;
        }

        p.title {
            color: white;
        }
    }
}
