ul.products {
	.product {
		h2.woocommerce-loop-product__title {
			font-size: 16px !important;
			color: var(--contrast);
			display: block;
			font-family: 'mona';
			font-weight: 700;
			line-height: 1.2;
			padding: 0;
			text-transform: none;
		}

		a.button {
			padding: 12px 20px !important;
			line-height: 1;
			font-size: 14px !important;
			font-family: 'mona';
			font-weight: 700;
			border-radius: 5px;
		}

		span.price {
			del {
				bdi {
					font-weight: 300;
				}
			}
		}

		span.onsale {
			top: 5px !important;
			right: 5px !important;
			border-radius: 5px !important;
			font-size: 12px !important;
			line-height: 1 !important;
			padding: 6px 8px !important;
		}

		.wc-product-image,
		.wc-product-image img {
			border-radius: 3px;
			overflow: hidden;
		}
	}
}
