.properties.type-properties {
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 5px 0 rgba(black, 0.12);
    border-radius: 3px;

    .overlay {
        position: absolute;
        inset: 0;
        transition: 0.3s all ease;
        border-radius: 3px;
        z-index: 20;
    }

    .background-image {
        height: 0;
        padding-top: 120%;
        background-size: cover;
        background-position: center center;
        border-radius: 3px;
        z-index: 5;
    }

    .the-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px;
        text-align: left;
        transition: 0.3s all ease;
        background-color: rgba(black, 0.3);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top: 1px solid white;
        z-index: 10;

        h3 {
            color: white;
            font-size: 26px;
            line-height: 1.2;

            &:after {
                margin: 15px 0 0;
                content: '';
                display: block;
                width: 120px;
                height: 2px;
                background-color: white;
            }
        }

        p {
            text-transform: uppercase;
            color: white;
            font-weight: 400;
        }

        p:last-child {
            margin-bottom: 0;
        }

        a {
            color: white;
        }

        a.post-edit-link {
            position: absolute;
            bottom: 15px;
            right: 15px;
            z-index: 25;
            font-size: 12px;
        }
    }

    &:hover {
        .the-content {
            backdrop-filter: blur(5px);
        }
    }
}
